@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');
body {
	color: #333;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	margin: 0; padding: 0;line-height:1.5;
}
option.disabled {background: #dedede;}
.bd-0{border: 0px;}
.font-12{font-size: 12px;}
.cursor-pointer{cursor: pointer;}
.list-unstyle{padding: 0; list-style: none; margin-bottom: 0;}
.nav-tabs {margin-bottom: 5px;}
.f-left{float: left;}
.f-right{float: right;}
.cred{color: red;}
.cgreen{color: #0A0;}
.cblue{color: #007bff;}
.cgray{color: gray;}
.c-white{color: #fff;}
a.checked {color:#ffffff;} 
.bg-fff{background:#fff;}
/*.bg-000{background:#0f0f0f;}*/
.bg-000{background:#f1f1f1;}
.color{color:#FC3E2C;}
.like{color:#337ab7;}
.thumb_sm{width:120px; overflow:hidden;}
.thumb_sm img{width:120px; border:#ccc 1px solid;}
.thumb_lg{width:246px; overflow:hidden;}
.thumb_lg img{width:246px; border:#ccc 1px solid;}
.thumb_left{float:left; margin-right:15px;}
.left-50{width:50%;float:left;background:#ccc;border-radius:6px 0px 0px 6px;}
.right-50{width:50%;float:right;padding:40px;}
.btn-lg,.input-lg{font-size:15px!important;}
.primary{background:#3276b1;background-color: rgb(50, 118, 177); border-color: rgb(40, 94, 142);color:#fff;}
.success{background:#5cb85c;background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76);color:#fff;}
.warning{background:#f0ad4e;background-color: rgb(240, 173, 78); border-color: rgb(238, 162, 54);color:#fff;}
.wrapper {overflow: hidden;}
.clearfix:after, .wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #FC3E2C;
	box-shadow: inset 0 -3px 0 0 #FC3E2C;
	-webkit-box-shadow: inset 0 -3px 0 0 #FC3E2C;
	background-color: transparent;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
img {
	vertical-align: middle;
	border-style: none;
}

#body{
	background-color: #0f0f0f;
}
/* Header */
#name-logo-brand {
	color: #fff;
	font-size: 1.8em;
	margin-top: 10px;
	font-weight: 400;
}
#body .home-banner{
	width: 100%;
}
@media screen and (max-width: 768px) {
	#body .home-banner{
		padding-top: 50px;
	}
}
#carouselExampleIndicators img {
	max-width: 100%;
	height: 320px;
}
@media screen and (max-width: 768px) {
	#name-logo-brand{display: none;}
	#carouselExampleIndicators img{
		height: 180px;
	}
}
.home-banner .bg-fff{
	padding: 15px 0px;
}
.wrap-banner {
	text-align: center;
}
.wrap-banner>img {
	height: 320px;
}
.widget-calendar{
	height: 320px;
	overflow-y: scroll !important;
}
.widget-calendar a{
	color: #333;
}
.widget-calendar a:hover{
	color: #dd0200;
	text-decoration: unset;
}
@media screen and (max-width: 768px) {
	.widget-calendar{
		height: auto;
		padding-top: 10px;
		max-height: 320px;
	}
}
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.event-item{
	font-weight: 500;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
}
.event-item .date {
	background-color: #f5f5f5;
	padding: 2px 8px;
	margin-right: 10px;
	font-size: 1em;
	font-weight: 500;
}
@media screen and (max-width: 768px){
	#body header.header {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: #0f0f0f;
		z-index: 999;
	}
}

#frm-search-home{
	position: relative;
	width: 280px;
	border-radius: 3px;
	/*background-color: #4a4a4a;*/
	background-color: #d0d0d0;
	overflow: hidden;
}
#ip-search-home{
	border: 0;
	color: #fff;
	font-size: 1em;
	border-radius: 0;
	box-shadow: none;
	background-color: inherit;
}
#ip-search-home:focus {
	color: #fff !important;
	background-color: inherit !important;
}
#ip-search-home:focus::-webkit-input-placeholder { /* Edge */
	color: #fff;
}

#ip-search-home:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #fff;
}

#ip-search-home:focus::placeholder {
	color: #fff;
}
#frm-search-home .bi-desk-search {
	position: absolute;
	left: 10px;
	color: #fff;
}
#frm-search-home .bi{
	position: absolute;
	left: 0px;
}
.btn-mobile-site-search{
	position: absolute;
	border: 0;
	outline: 0;
	left: 0;
	right: 0;
	box-shadow: none;
	width: 30px;
	height: 30px;
	background-color: inherit;
}

@media screen and (min-width: 768px) {
	/*.btn-mobile-site-search{display: none;}*/
}
@media screen and (min-width: 992px) {
	.btn-mobile-site-search, .btn-mobile-site-search>.bi{
		display: block !important;
	}
	#frm-search-home{
		margin-right: -15px;
	}
	#ip-search-home{
		width: 30px;
		height: 30px;
		padding-left: 18px;
	}
	#frm-search-home .bi{
		display: none;
	}
	.btn-mobile-site-search>.bi{
		position: absolute;
		top: 9px;
		margin: auto;
	}
	.navbar{
		padding-left: 0;
		padding-right: 0;
	}
}
@media screen and (min-width: 1000px) {
	.btn-mobile-site-search{display: none !important;}
	#frm-search-home .bi{display: block;}
	#ip-search-home{
		width: 100%;
		padding-left: 30px;
	}
}
@media screen and (min-width: 1200px) {
	#ip-search-home{
		height: auto;
	}
}
@media screen and (max-width: 767px) {
	#frm-search-home{
		display: none;
	}
}

.navbar{
    /*padding-left: 0;
    padding-right: 0;*/
}
.logo-brand{
	height: 40px;
}
#main-menu{
	font-size: 16px;
}
#main-menu .navbar-nav{}
#main-menu .navbar-nav .nav-item{
	position: relative;
	padding: 0 5px;
}
#main-menu .navbar-nav .nav-item:hover>a {
	color: #dd0200;
}
#main-menu .navbar-nav .nav-item:hover:before {
	opacity: 1;
	text-decoration: none;
	width: 100%;
}
#main-menu .navbar-nav .nav-item:before {
	content: "";
	height: 2.5px;
	left: 0;
	opacity: 0;
	margin: auto;
	pointer-events: none;
	position: absolute;
	right: 0;
	-webkit-transition: width 0.45s, opacity 0.1s;
	transition: width 0.45s, opacity 0.1s;
	background: #dd0200;
	top: -15px;
	width: 0;
}
#main-menu .navbar-nav a{
	font-size: 1em;
	color: #f1f1f1;
	font-weight: 400;
	/*color: #333;*/
	/*font-weight: 500;*/
}

#main-menu .dropdown-menu{
	font-size: 0.95em;
	margin-top: 0px;
	border-radius: 0;
	border: 1px solid #eeeeee;
	background-color: #f8f9fa;
	box-shadow: 0px 4px 5px 3px #cccccc6b;
}
#main-menu .dropdown-menu li{}
#main-menu .dropdown-menu a{
	font-weight: 400;
	color: #dd0200;
}
#main-menu .dropdown-menu a:hover {
	color: #fff;
	background-color: #dd0200;
}

@media screen and (min-width: 768px) {
	#main-menu .navbar-nav .nav-item:hover .dropdown-menu{display: block;}
}
@media screen and (max-width: 767px) {
	.navbar{
		padding: 0px;
	}
	.navbar-brand{

	}
	.navbar-toggler {
		position: relative;
		width: 40px;
		height: 30px;
		padding: 0;
	}
	.navbar-toggler:focus, .navbar-toggler:hover{outline: 0;}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
		background: transparent;
		bottom: 0;
		top: 15px;
		-webkit-transition: -webkit-transform 0.2s 0.4s;
		transition: transform 0.2s 0.4s;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
		background: #fff;
		bottom: 0;
		top: 0;
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.navbar-toggler-icon{
		background: #fff;
		bottom: 0;
		height: 2px;
		right: 6px;
		position: absolute;
		top: 13px;
		-webkit-transition: 0.2s all;
		transition: 0.2s all;
		width: 25px;
	}
	.navbar-toggler-icon:before, .navbar-toggler-icon:after {
		background: #fff;
		border-radius: 4px;
		content: "";
		height: 2px;
		left: 0;
		margin: auto;
		position: absolute;
		-webkit-transition: -webkit-transform 0.2s 0s, top 0.2s, bottom 0.2s;
		transition: transform 0.2s 0s, top 0.2s, bottom 0.2s;
		width: 100%;
	}
	.navbar-toggler-icon:before {
		top: -6px;
	}
	.navbar-toggler-icon:after {
		bottom: -6px;
	}

	.navbar-collapse{
		position: fixed;
		width: 100%;
		right: -100%;
		background-color: #eee;
	}
	.navbar-collapse.show{
		box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
		overflow: auto;
		right: 0%;
	}

	#main-menu{
		background: #ffffff;
		box-shadow: 0 0 100px transparent;
		height: 100%;
		top: 0;
		-webkit-transition: right 0.2s, box-shadow 0.2s;
		transition: right 0.2s, box-shadow 0.2s;
		width: calc(100% - 1.75em);
		z-index: 12;
		margin-top: 50px;
		border-left: 1px solid #dd0200;
	}
	#main-menu .navbar-nav{
		border-top: 1px solid #bdbaba;
	}
	#main-menu .navbar-nav .nav-item{
		padding: 0px 15px;
	}
	#main-menu .navbar-nav a{
		color: #333;
	}
	.navbar-nav .nav-link{
		border-bottom: 1px solid #dd0200;
	}
	#main-menu .navbar-nav .nav-item:hover:before {
		width: calc(100% - 1.75em);
	}
	#main-menu .dropdown-menu{
		display: block;
		background-color: #ffffff;
		box-shadow: none;
		border: 0;
	}
	#main-menu .dropdown-menu a{
		position: relative;
		color: #333;
		font-weight: 400;
		padding: 10px 25px;
	}
	#main-menu .dropdown-menu a:after {
		content: '';
		background: #dd0200;
		width: calc(100% - 3em);
		height: 1px;
		position: absolute;
		left: 20px;
		bottom: 0;
	}
	#main-menu .dropdown-menu a:first-child{padding-top: 0px;}
}

/* End Header */

/* Main content */
.wrap-thumb{
	height: 180px;
	background-size: cover;
	background-color: #efefef;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}
@media screen and (max-width: 768px) {
	.wrap-thumb{height: 220px;}
}
@media screen and (min-width: 768px) {
	.wrap-thumb{height: 120px;}
}
@media screen and (min-width: 992px) {
	.wrap-thumb{height: 150px;}
}
@media screen and (min-width: 1200px) {
	.wrap-thumb{height: 180px;}
}
#main-content .content-wrapper {
	background-color: #fff;
	/*padding-top: 30px;*/
}
.sec-1, .sec-2, .sec-3{
	padding-bottom: 40px;
}
/* Grid */
.custom-row{
	margin-left: -6px;
	margin-right: -6px;
}
.custom-col{
	padding-left: 6px;
	padding-right: 6px;
}

.wg-cate{}
.wg-cate .wg-wrap{}
.wg-cate .wg-head {
	position: relative;
	font-size: 1.4em;
	margin-bottom: 10px;
	padding-left: 15px;
	font-weight: 500;
}
.wg-cate .wg-head:before {
	content: '';
	background: red;
	width: 3px;
	height: 80%;
	position: absolute;
	top: 2px;
	left: 0;
}
.wg-cate img{
	max-width: 100%;
}
.wg-cate a{color: #333;}
.wg-cate a:hover {
	text-decoration: unset;
	color: #dd0200;
}
.wg-cate .wg-content{}
.wg-cate .wg-item{border-top: 1px solid #ccc;}
.wg-cate .wg-item:after, .wg-cate .wg-content, .sec-1, .sec-2, .sec-3{
	content: "";
	display: block;
	clear: both;
}
.wg-cate .wg-item h1{
	font-size: 1.6em;
	padding: 10px 0;
	margin-bottom: 0;
}
.wg-cate .wg-item h2 {
	font-size: 1.1em;
	padding: 10px 0;
	font-weight: 500;
	margin-bottom: 0px;
}
.wg-cate .wg-item h3{
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 0;
	padding: 10px 0;
}
.wg-cate .view-more{
	font-style: italic;
	font-size: 1em;
	float: right;
	margin-right: 5px;
}
@media screen and (min-width: 768px) {
	.wg-cate .wg-item h2{
		max-height: 92px;
		overflow: hidden;
		line-height: 20px;
	}
}

.wg-cate .wg-item.big{border-top: 0;}
.wg-cate .wg-item.big:hover a{color: #dd0200;}
.wg-big-cate .wg-item{padding: 10px 0;}
.wg-big-cate .wg-item .i-wrap-thumb{
	width: 160px;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wg-big-cate .wg-item .wg-item-info{
	padding-left: 170px;
}
.wg-big-cate .wg-item h2{
	padding: 0px;
}
.wg-big-cate .wg-item .desc {
	line-height: 20px;
	max-height: 60px;
	overflow: hidden;
	margin-bottom: 0;	
}
@media screen and (max-width: 768px) {
	.wg-big-cate .wg-item .i-wrap-thumb{
		height: 80px;
		width: 120px;
	}
	.wg-big-cate .wg-item .wg-item-info{
		padding-left: 130px;
	}
}
@media screen and (min-width: 768px) {
	.wg-big-cate .wg-item .i-wrap-thumb{
		height: 80px;
		width: 120px;
	}
	.wg-big-cate .wg-item .wg-item-info {
		padding-left: 130px;
	}
}
@media screen and (min-width: 992px) {
	.wg-big-cate .wg-item .i-wrap-thumb{
		height: 100px;
		width: 140px;
	}
	.wg-big-cate .wg-item .wg-item-info {
		padding-left: 150px;
	}
}
@media screen and (min-width: 1200px) {
	.wg-big-cate .wg-item .i-wrap-thumb{
		height: 100px;
	}
}
.wg-big-cate .wg-item.big{padding: 0;}
.wg-big-cate .wg-item.big .i-wrap-thumb{
	display: block;
	float: none;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 768px) {
	.wg-big-cate .wg-item.big .i-wrap-thumb{
		height: 300px;
	}
}
@media screen and (min-width: 768px) {
	.wg-big-cate .wg-item.big .i-wrap-thumb{
		height: 200px;
	}
}
@media screen and (min-width: 992px) {
	.wg-big-cate .wg-item.big .i-wrap-thumb{
		height: 300px;
	}
}
@media screen and (min-width: 1200px) {
	.wg-big-cate .wg-item.big .i-wrap-thumb{
		height: 300px;
	}
}

.wg-cate-3{}
.wg-cate-3 .wg-item{border-top: 0px;}
.wg-cate-3 .pt-3:before {
	position: absolute;
	content: '';
	background-color: #ccc;
	width: 95%;
	height: 1px;
	top: 0;
}
/* ads */
.wg-ads{}
.wg-ads .ads{}
.wg-ads .ads img{
	max-width: 100%;
}
/* End ads */

/* Breadcrumb */
.breadcrumb{
	float: left;
	background: #fff;
	padding-left: 0;
}
.breadcrumb li:first-child>a {
	color: #076DB6;
}
.breadcrumb li {
	position: relative;
	display: inline-block;
	line-height: 16px;
	font-size: 14px;
	color: #757575;
	margin-right: 25px;
}
.breadcrumb li:after {
	content: '';
	width: 7px;
	height: 7px;
	border-top: 1px solid #BDBDBD;
	border-right: 1px solid #BDBDBD;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	left: -19px;
	top: 5px;
}
.breadcrumb li:first-child:after, .breadcrumb-item+.breadcrumb-item::before{
	display: none;
}
.breadcrumb-item+.breadcrumb-item{padding-left: 0;}
.breadcrumb a{
	color: #6c757d;
	transition: color 0.3s;
}
.breadcrumb a:hover{
	color: #007bff;
	text-decoration: unset;
}
.breadcrumb .bi{
	margin-right: 5px;
	margin-bottom: 3px;
}
/* End Breadcrumb */

/* Post */
.big-post{}
.big-post .post-content{
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	background: #f4f4f4;
}
.big-post .post-content:hover{text-decoration: unset;}
.big-post .post-content:hover .title{color: #dd0200;}


.big-post .title{
	font-size: 1.6em;
	font-weight: 400;
}
.big-post a:hover{
	color: #dd0200;
	text-decoration: unset;
}
.big-post a{
	color: #333;
	transition: color 0.3s;
}
.big-post .desc{
	color: #333;
	font-size: 1.1em;
}
.big-post .date {
	font-weight: bold;
	margin-top: 10px;
	font-style: italic;
}
.big-post .post-thumb{
	position: relative;
	float: left;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
@media screen and (max-width: 768px) {
	.big-post .post-thumb{
		width: 100%;
		height: 250px;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.big-post .post-meta{padding: 15px;}
}
@media screen and (min-width: 768px) {
	.big-post .post-thumb{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.big-post .post-meta{padding: 15px;}
}
@media screen and (min-width: 992px) {
	.big-post .post-thumb{
		width: calc(62% - 1em);
		margin-right: 1em;
	}
	.big-post .post-meta{
		padding-top: 15px;
		padding-right: 10px;
	}
}

.post{
	position: relative;
	display: block;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 1px solid #ccc;
}
.post:first-child{padding-top: 0px;}
.post .post-thumb {float: left;}
.post .title {
	font-size: 1.2em;
	font-weight: 500;
	transition: color 0.3s;
}
.post a{text-decoration: unset;}
.post a:hover{
	color: #dd0200;
	text-decoration: unset;
}
.post .desc, .post .title, .post a{
	color: #333;
}
.post .date{
	font-weight: bold;
	margin-top: 5px;
	font-style: italic;
}
.post-thumb-120{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (max-width: 768px) {
	.post .post-thumb{
		width: 120px;
		margin-right: 10px;
	}
	.post-thumb-120{height: 90px;}
}
@media screen and (min-width: 768px) {
	.post .post-thumb{width: 140px;}
	.post .post-meta {padding-left: 150px;}
	.post .desc {display: none;}
	.post-thumb-120{height: 90px;}
}
@media screen and (min-width: 992px) {
	.post .post-thumb{
		width: 180px;
		height: 120px;
	}
	.post .post-meta {padding-left: 190px;}
	.post .desc {display: block;}
	.post-thumb-120{height: 120px;}
}

section.component {
	padding-top: 30px;
}
.page-block-content .page-header h1{
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 20px;
}
.page-detail .page-header h1{
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 20px;
}
.page-detail .video-item {
	margin-bottom: 15px;
}
.page-detail .header-content{
	display: block;
	overflow: hidden;
}
.page-detail .header-content .date{
	float: right;
	color: #757575;
	font-size: 14px;
}
.page-detail .sapo {
	font-size: 18px;
	line-height: 160%;
	font-weight: 400;
	margin-bottom: 15px;
}
.post_detail {
	width: 100%;
	position: relative;
	font-size: 18px;
	line-height: 160%;
}
.post_detail img, 
.post_detail table{
	max-width: 100%;
} 

/* Related posts */
.widget-related-posts{
	padding: 20px 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.widget-related-posts::before {
	content: '';
	display: block;
	height: 45px;
	border-top: 1px solid #eeeeee;
}
.event-related::after{
	content: "Sự kiện cùng chuyên mục" !important;
}
.widget-related-posts::after {
	content: 'Bài liên quan';
	font-weight: bold;
	position: absolute;
	top: 30px;
	left: 0;
	font-size: 15px;
	color: #333;
}
.post-item.related{
	display: block;
	overflow: hidden;
}
.post-item.related a {
	color: #333;
}
.post-item.related a:hover {
	color: #006BA0;
	text-decoration: unset;
}
.post-item.related .post-thumb{
	float: left;
	margin-right: 15px;
}
.post-item.related .post-desc{
	color: #666;
}
@media screen and (max-width: 768px) {
	.post-item.related .post-thumb{
		width: 120px;
	}
	.post-item.related .post-title{
		font-size: 1em;
	}
	.post-item.related .post-sapo{display: none;}
}
@media screen and (min-width: 768px) {
	.post-item.related .post-thumb{
		width: 120px;
	}
	.post-item.related .post-title{
		font-size: 1em;
	}
}
@media screen and (min-width: 992px) {
	.post-item.related .post-thumb{
		width: 200px;
	}
	.post-item.related .post-title{
		font-size: 1.3em;
	}
}

.page-videos h1{
	font-size: 1.6em;
}
.page-videos .video-item a{
	color: #333;
	text-decoration: unset;
}
.page-videos .video-item a:hover{
	color: #dd0200;
	text-decoration: unset;
}
.page-videos .video-item{
	margin-bottom: 12px;
}
.page-videos .video-title{
	padding: 10px;
	background: #f4f4f4;
	font-size: 1.1em;
}

.page-detail-video .video-title{
	padding: 15px 0;
	font-size: 1.8em;
}
.wrap-thumb-220 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
@media screen and (max-width: 768px) {
	.wrap-thumb-220{height: 220px;}
}
@media screen and (min-width: 768px) {
	.wrap-thumb-220{height: 220px;}
}
@media screen and (min-width: 992px) {
	.wrap-thumb-220{height: 220px;}
}
/* End Related posts */


.wg-left-aside .aside .header {
	position: relative;
	font-size: 1.6em;
	margin-bottom: 10px;
	padding-left: 15px;
	z-index: 10;
}
.wg-left-aside .aside .header:before {
	content: '';
	background: red;
	width: 3px;
	height: 60%;
	display: block;
	position: absolute;
	left: 0;
	top: 20%;
}
.aside{margin-bottom: 20px;}
.aside img{max-width: 100%;}
.aside-lastest-news .content{}
.aside-lastest-news .post-item{margin-bottom: 10px;}
.aside-lastest-news .big.post-item{margin-bottom: 15px;}
.aside-lastest-news .post-item a{
	text-decoration: unset;
	color: #333;
}
.aside-lastest-news .post-item a:hover{
	color: #dd0200;
	text-decoration: unset;
}
.aside-lastest-news .post-item h3{
	color: #333;
	font-weight: 500;
	font-size: 1em;
	line-height: 22px;
	letter-spacing: 0.1px;
}
.aside-lastest-news .post-item h2{
	color: #333;
	font-weight: 500;
	font-size: 1.2em;
}
.aside-lastest-news .big .wr-meta{
	padding: 15px;
	background-color: #f4f4f4;
}

@media screen and (max-width: 768px) {
	.aside-lastest-news .big.post-item{
		border-bottom: 0px;
	}
	.aside-lastest-news .post-item{
		border-bottom: 1px solid #ccc;
	}
}
@media screen and (min-width: 768px) {
	.aside-lastest-news .big .wr-meta{padding: 10px;}
	.aside-lastest-news .wrap-thumb{
		height: 140px;
	}
}
@media screen and (min-width: 992px) {
	.aside-lastest-news .wrap-thumb{
		height: 160px;
	}
}
@media screen and (min-width: 1200px) {
	.aside-lastest-news .wrap-thumb{
		height: 180px;
	}
}
/* Pagging */
.pagging{
	padding-top: 30px;
	float: right;
}
.pagging .paging{
	display: none;
}
/* End Pagging */

/* End Main content */

/* Footer */
.main-footer:before {
	content: '';
	display: none;
	position: absolute;
	left: 49%;
	top: -15px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #0f0f0f;
}

.line-vertical {
	position: absolute;
	background-color: #ccc;
	height: 1px;
	left: 0;
	right: 0;
	top: 0;
}
.main-footer {
	position: relative;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #f9f9f9;
}
.main-footer a{
	color: inherit;
}
.main-footer a:hover {
	color: #0056b3;
	text-decoration: unset;
}
.main-footer .brand-name{}
.main-footer .list-social{}
.main-footer .list-social li{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #ccc;
	padding-bottom: 0;
	position: relative;
	border-radius: 50%;
	margin-right: 10px;
}
.main-footer .list-social li:hover>a {
	color: #fff;
}

.main-footer .list-social li:hover {
	background-color: #0056b3;
	color: #fff;
}
.main-footer .list-social .fab.fa-facebook-f {
	left: 13px;
}
.main-footer .list-social i {
	font-size: 1.6em;
	position: absolute;
	top: 10px;
	left: 8px;
}
.main-footer li{
	padding-bottom: 6px;
}
.main-footer .lab{
	font-weight: 500;
	margin-right: 5px;
}

.copyright .container{
	background-color: #e0e0e0;
	text-align: center;
	font-size: 0.9em;
	padding: 5px 0;
}
/* End Footer */
