RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?$ 						index.php [QSA]
RewriteRule ^contact/?$ 				index.php?com=contact [QSA]
RewriteRule ^setting/?$ 				index.php?com=setting [QSA]
RewriteRule ^forgot-password/?$ 		forgot-password.php

# Menuitem
RewriteRule ^mnuitem/([0-9]+)?$ 					index.php?com=mnuitem&mnuid=$1 	[QSA]
RewriteRule ^mnuitem/([0-9]+)/add?$ 				index.php?com=mnuitem&viewtype=add&mnuid=$1 [QSA]
RewriteRule ^mnuitem/([0-9]+)/edit/([0-9]+)?$ 		index.php?com=mnuitem&viewtype=edit&mnuid=$1&id=$2 [QSA]
RewriteRule ^mnuitem/([0-9]+)/active/([0-9]+)?$ 	index.php?com=mnuitem&viewtype=active&mnuid=$1&id=$2 [QSA]
RewriteRule ^mnuitem/([0-9]+)/delete/([0-9]+)?$ 	index.php?com=mnuitem&viewtype=delete&mnuid=$1&id=$2 [QSA]

RewriteRule ^content/?$ 					index.php?com=content [QSA]
RewriteRule ^content/view?$ 				index.php?com=content&viewtype=view [QSA]
RewriteRule ^content/add?$ 					index.php?com=content&viewtype=add [QSA]
RewriteRule ^content/edit/([0-9]+)?$ 		index.php?com=content&viewtype=edit&id=$1 [QSA]
RewriteRule ^content/write/?$ 				index.php?com=content&viewtype=write [QSA]
RewriteRule ^content/pending/?$ 			index.php?com=content&viewtype=pending [QSA]
RewriteRule ^content/waiting_public/?$ 		index.php?com=content&viewtype=waiting_public [QSA]
RewriteRule ^content/public/?$ 				index.php?com=content&viewtype=public [QSA]
RewriteRule ^content/deleted/?$ 			index.php?com=content&viewtype=deleted [QSA]
RewriteRule ^content/takedown/?$ 			index.php?com=content&viewtype=takedown [QSA]
RewriteRule ^content/return/?$ 				index.php?com=content&viewtype=return [QSA]
RewriteRule ^content/delete/([0-9]+)?$ 		index.php?com=content&viewtype=delete&id=$1 [QSA]
RewriteRule ^content/active/([0-9]+)?$ 		index.php?com=content&viewtype=active&id=$1 [QSA]
RewriteRule ^content/ishot/([0-9]+)?$ 		index.php?com=content&viewtype=ishot&id=$1 [QSA]
RewriteRule ^content/chu-nhat-vang/?$ 		index.php?com=content&viewtype=chu_nhat_vang [QSA]

RewriteRule ^user/?$ 							index.php?com=user [QSA]
RewriteRule ^profile/?$ 						index.php?com=user&viewtype=profile
RewriteRule ^changepass/?$ 						index.php?com=user&viewtype=changepass
RewriteRule ^user/getlist_user/([0-9]+)?$ 		index.php?com=user&viewtype=getlist_user&id=$1 [QSA]
RewriteRule ^user/add/?$ 						index.php?com=user&viewtype=add
RewriteRule ^user/edit/?$ 						index.php?com=user&viewtype=edit [QSA]
RewriteRule ^user/active/?$ 					index.php?com=user&viewtype=active [QSA]
RewriteRule ^user/delete/?$ 					index.php?com=user&viewtype=delete [QSA]

RewriteRule ^groupuser/?$ 				index.php?com=groupuser [QSA]
RewriteRule ^groupuser/add/?$ 			index.php?com=groupuser&viewtype=add 
RewriteRule ^groupuser/edit/([0-9]+)?$ 	index.php?com=groupuser&viewtype=edit&id=$1 [QSA]

RewriteRule ^categories/?$ 					index.php?com=categories [QSA]
RewriteRule ^categories/add/?$ 				index.php?com=categories&viewtype=add 
RewriteRule ^categories/edit/([0-9]+)?$ 	index.php?com=categories&viewtype=edit&id=$1 [QSA]
RewriteRule ^categories/active/([0-9]+)?$ 	index.php?com=categories&viewtype=active&id=$1 [QSA]
RewriteRule ^categories/delete/([0-9]+)?$ 	index.php?com=categories&viewtype=delete&id=$1 [QSA]

RewriteRule ^video/?$ 					index.php?com=video [QSA]
RewriteRule ^video/add/?$ 				index.php?com=video&viewtype=add 
RewriteRule ^video/edit/([0-9]+)?$ 		index.php?com=video&viewtype=edit&id=$1 [QSA]
RewriteRule ^video/active/([0-9]+)?$ 	index.php?com=video&viewtype=active&id=$1 [QSA]
RewriteRule ^video/delete/([0-9]+)?$ 	index.php?com=video&viewtype=delete&id=$1 [QSA]

RewriteRule ^content_type/?$ 					index.php?com=content_type [QSA]
RewriteRule ^content_type/add/?$ 				index.php?com=content_type&viewtype=add
RewriteRule ^content_type/edit/([0-9]+)?$ 		index.php?com=content_type&viewtype=edit&id=$1 [QSA]
RewriteRule ^content_type/active/([0-9]+)?$ 	index.php?com=content_type&viewtype=active&id=$1 [QSA]
RewriteRule ^content_type/ishot/([0-9]+)?$ 		index.php?com=content_type&viewtype=ishot&id=$1 [QSA]
RewriteRule ^content_type/delete/([0-9]+)?$ 	index.php?com=content_type&viewtype=delete&id=$1 [QSA]

RewriteRule ^album/?$ 						index.php?com=album [QSA]
RewriteRule ^album/add/?$ 					index.php?com=album&viewtype=add
RewriteRule ^album/edit/([0-9]+)?$ 			index.php?com=album&viewtype=edit&id=$1 [QSA]
RewriteRule ^album/active/([0-9]+)?$ 		index.php?com=album&viewtype=active&id=$1 [QSA]
RewriteRule ^album/ishot/([0-9]+)?$ 		index.php?com=album&viewtype=ishot&id=$1 [QSA]
RewriteRule ^album/delete/([0-9]+)?$ 		index.php?com=album&viewtype=delete&id=$1 [QSA]

# Module
RewriteRule ^module/?$ 								index.php?com=module 	[QSA]
RewriteRule ^module/add?$ 							index.php?com=module&viewtype=add 	[QSA]
RewriteRule ^module/edit/([0-9]+)?$ 				index.php?com=module&viewtype=edit&id=$1 	[QSA]
RewriteRule ^module/active/([0-9]+)?$ 				index.php?com=module&viewtype=active&id=$1 	[QSA]
RewriteRule ^module/delete/([0-9]+)?$ 				index.php?com=module&viewtype=delete&id=$1 	[QSA]


#Seo
RewriteRule ^seo/?$ 								index.php?com=seo 	[QSA]
RewriteRule ^seo/add?$ 								index.php?com=seo&task=add
RewriteRule ^seo/edit/([0-9]+)?$ 					index.php?com=seo&task=edit&id=$1
RewriteRule ^seo/delete/([0-9]+)?$ 					index.php?com=seo&task=delete&id=$1
RewriteRule ^seo/active/([0-9]+)?$ 					index.php?com=seo&task=active&id=$1

# Slider
RewriteRule ^slider/?$ 								index.php?com=slider 	[QSA]
RewriteRule ^slider/add?$ 							index.php?com=slider&task=add
RewriteRule ^slider/edit/([0-9]+)?$ 				index.php?com=slider&task=edit&id=$1
RewriteRule ^slider/delete/([0-9]+)?$ 				index.php?com=slider&task=delete&id=$1
RewriteRule ^slider/active/([0-9]+)?$ 				index.php?com=slider&task=active&id=$1

#Even
RewriteRule ^event/?$ 					index.php?com=event [QSA]
RewriteRule ^event/add/?$ 				index.php?com=event&viewtype=add 
RewriteRule ^event/edit/([0-9]+)?$ 		index.php?com=event&viewtype=edit&id=$1 [QSA]
RewriteRule ^event/active/([0-9]+)?$ 	index.php?com=event&viewtype=active&id=$1 [QSA]
RewriteRule ^event/ishot/([0-9]+)?$ 	index.php?com=event&viewtype=ishot&id=$1 [QSA]
RewriteRule ^event/delete/([0-9]+)?$ 	index.php?com=event&viewtype=delete&id=$1 [QSA]

RewriteRule ^event_group/?$ 					index.php?com=event_group [QSA]
RewriteRule ^event_group/add/?$ 				index.php?com=event_group&viewtype=add 
RewriteRule ^event_group/edit/([0-9]+)?$ 		index.php?com=event_group&viewtype=edit&id=$1 [QSA]
RewriteRule ^event_group/active/([0-9]+)?$ 		index.php?com=event_group&viewtype=active&id=$1 [QSA]
RewriteRule ^event_group/delete/([0-9]+)?$ 		index.php?com=event_group&viewtype=delete&id=$1 [QSA]


php_flag display_errors  on
php_value upload_max_filesize 1024M
php_value post_max_size 1024M
php_value max_input_time 300
php_value max_execution_time 300

#Bảo vệ file
<files .htaccess>
order allow,deny
deny from all
</files>